//- default.jade
.ibm-columns
  p.label= item.label
  p.summary.brief= item.summary.brief
  p.summary.tags= item.summary.tags
  p.content.headline= item.content.headline
  p.content.body= item.content.body