case item.href
  when "infrastructure"
    - var bg = "Amit_Gadi_3169_COMPOSITE_flat_crop.jpg"
  when "platform"
    - var bg = "HermanMiller_BoxClever-0171_flat.jpg"
  when "solutions"
    - var bg = "Mahaney_150420_HermanMiller-Claremont_McKenna_0043.jpg"
  when "services"
    - var bg = "28A_Arper_Logan.jpg"
  when "shop"
    - var bg = "CATK-IBM-Blue-38.jpg"
  default
    - var bg = "28A_Arper_Logan.jpg"

.ocean-item.ocean-parallax-keyframe(id="ocean-item-#{item.href}", class="trigger#{index}")
  .ibm-band.ocean-photo-band(id="#{item.href}-photo-band", style="background-image:url(/images/#{bg}", data-widget="ocean_parallax", data-scrollspeed="20")
  .ibm-band.ocean-band(id="#{item.href}-band")
    .ocean-center
      .ocean-shape
        svg(preserveAspectRatio="xMidYMid meet",  viewBox="20 0 960 960")
          use(xlink:href="#icon-#{item.shape}")
      .ocean-shape.ocean-shape-fill(id="#{item.href}-shape", data-widget="ocean_parallax", data-parallax-mode="cropReveal", data-scrollspeed="2", data-parallax-enter=".trigger#{index}")
        svg(preserveAspectRatio="xMidYMid meet", viewBox="20 0 960 960")
          use(xlink:href="#icon-#{item.shape}")
      .ocean-item-content
        .ibm-columns(id="#{item.href}-photo-content")
          .ibm-col-6-1
            include ./item-sitenav.jade
          .ibm-col-6-3.ocean-bigcol
            .ocean-bigcol-pad
              h1.ibm-h1.ibm-padding-top-60= item.title
              h2.ibm-h2= item.subtitle
 
              if 'ctas' in item
                p.ibm-btn-row.ibm-btn-link
                  each cta in item.ctas
                    a(href="#{cta.href}").ibm-btn-sec= cta.label
          .ibm-col-6-1
            include ./item-subnav.jade
